@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100px;
  width: 100%;
  background-size: 100% 300px;
}

.food-div {
  height: 50%;
  width: 80%;
  overflow: hidden;
}

.header-image {
  width: 100%;
  opacity: .9;
}

.title {
  font-size: 36px;
  font-family: 'Sigmar One', cursive;
}

.App-link {
  color: #61dafb;
}

nav {
  background-color: black;
  font-size: 20px;
}

.header-title {
  float: left;
  margin-left: 30px;
  margin-top: -25px;
  margin-bottom: -25px;
}

.buttons {
  float: right;
  margin-right: 10px;
}

.header-button {
  margin-right: 40px;
  font-family: "Helvetica Neue", Helvetica;
  margin-top: 22px;
  font-size: 20px;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.more-button {
  font-family: "Helvetica Neue", Helvetica;
  margin-top: 22px;
  font-size: 20px;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
}

body {
  background-image: url(https://i.pinimg.com/originals/cc/e0/c7/cce0c7db236b5e269c7721de801bb8f7.jpg);
}

.main-h1 {
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 50px;
}

.main-image {
  border-radius: 5px;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.main-div {
  background-color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid black;
  padding: 20px;
  padding-bottom: 80px;
  border-radius: 10px;
  margin-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  height: 100%;
  overflow-y: scroll;
  max-height: 900px;
}

.food-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.like-dislike {
  height: 4%;
  width: 10%;
  background-color: whitesmoke;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 4%;
  position: relative;
  cursor: pointer;
}

.like-dislike:hover {
  opacity: .5;
}

.fa:hover {
    opacity: 0.7;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50px;
  margin-right: 15px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #3B5998;
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.social-media {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.truck-pics {
  max-width: 30%;
  max-width: 30%;
  overflow: hidden;
  padding: 10px;
}

.back-home {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.all-food {
  margin-bottom: 100px;
}

@media (max-width:900px) {
  .like-dislike {
    height: 10%;
    width: 10%;
    background-color: whitesmoke;
    margin-right:5px;
    margin-left: 5px;
    margin-top: 15%;
  }

  .header {
    margin-bottom: 70px;
  }

  .main-image {
    border-radius: 5px;
    height: 100%;
    width: 100%;
  }

  .main-h1 {
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
